<div class="page-wrapper">
  <div class="container-fulid">
    <!--header-->
    <%= render 'shared/header' %>
    <!--user-info-->
    <%= render 'users/users_info' %>
    <!--micropost following, followers-->
    <%= render 'users/show_content', objects: @feed_items %>
    <!--footer-->
    <%= render 'shared/footer' %>
  </div>
</div>
<!--script-->
<%= render 'static_pages/script/login_user_script' %>