<% content_for(:card_body) do %>
  <p class="context">新規登録の方</p>
  <%= link_to 'サインアップ', signup_path, class:"btn signup" %>
  <p class="context">Facebookのアカウントをお持ちの方</p>
  <%= link_to '/auth/facebook', class: "btn facebook" do %>
    <i class="fab fa-facebook-square" id="facebook-icon"></i>
    <p style="display: inline;">facebookでログイン</p>
  <% end %>
  <p class="context">アカウントをお持ちの方</p>
  <%= link_to 'ログイン', login_path, class:"btn login" %>
<% end %>
<%= render 'shared/wrap/top_login_singup_wrap' %>