<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-center edit-page-row">
      <div class="col-md-7">
        <div class="card card-body">
          <%= yield(:card_body) %>
        </div>
      </div>
    </div>
  </div>
</div>