<% provide(:title, 'ログイン') %>
<% content_for(:card_body) do %>
  <%= form_with scope: :session, url: login_path, local: true do |f| %>
    <%= render 'shared/form_parts/user_name', object: f %>
    <%= render 'shared/form_parts/password',  object: [f, 'パスワード'] %>
    <div class="form-group">
      <%= link_to 'パスワードをお忘れの方', new_password_reset_path, class: "password-reset-link" %>
    </div>
    <div class="form-group form-check">
      <%= f.label :remember_me, class: "form-check-label inline" do %>
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <span class="context">ログイン情報を保持する</span>
      <% end %>
    </div>
    <%= render 'shared/form_parts/subtmit_button', object: [f, 'ログイン'] %>
  <% end %>
<% end %>
<%= render 'shared/wrap/top_login_singup_wrap' %>