<% provide(:title, 'パスワード再設定') %>
<% content_for(:card_body) do %>
  <%= form_with model: @user, local: true, url: password_reset_path(params[:id]) do |f| %>
    <%= render 'shared/error_messages', object: @user %>
    <%= hidden_field_tag :user_name, @user.user_name %>
    <%= render 'shared/form_parts/password',              object: [f, 'パスワード'] %>
    <%= render 'shared/form_parts/password_confirmation', object: [f, 'パスワード確認'] %>
    <%= render 'shared/form_parts/subtmit_button',        object: [f, 'パスワード再設定'] %>
  <% end %>
<% end %>
<%= render 'shared/wrap/top_login_singup_wrap' %>