<% provide(:title, 'パスワード再設定') %>
<% content_for(:card_body) do %>
  <%= form_with scope: :password_reset, url: password_resets_path, local: true do |f| %>
    <%= render 'shared/form_parts/user_name',      object: f %>
    <%= render 'shared/form_parts/email',          object: f %>
    <%= render 'shared/form_parts/subtmit_button', object: [f, 'メール送信'] %>
  <% end %>
<% end %>
<%= render 'shared/wrap/top_login_singup_wrap' %>