<p><%= @user.user_name %> 様<p>

<p>foobarでございます。<br>
いつもInstagram-cloneをご利用頂きありがとうございます。</p>

<p>下記リンクをクリックいただき、パスワードの再設定を<br>
行なってください。</p>
<br>

<%= link_to "パスワードを再設定する", 
    edit_password_reset_url(@user.password_reset_token, 
                            user_name: @user.user_name) %>
<br><br>
<p>よろしくお願いたします。<br>
-------------<br>
foobar</p>