<%= @user.user_name %> 様

foobarでございます。
いつもinstagram-cloneをご利用頂きありがとうございます。

下記リンクをクリックいただき、パスワードの再設定を
行なってください。

<%= edit_password_reset_url(@user.password_reset_token, user_name: @user.user_name) %>

よろしくお願いたします。
-------------
foobar