<script type="text/javascript">
  $(function () {
    var reader = new FileReader();
    var img_area = $("#image-area");
    //アップロードされた画像ファイルを取得し、処理を行う
    $("input[type=file]").change(function () {
      img_area.empty();
      var file = $(this).prop("files")[0];
      if ((typeof file === "undefined") || (!file.type.match("image.*"))) {
        // 画像以外は処理をしない
        return;
      }
      file_size = file.size / 1024 / 1024
      if (file_size > 5) {
        // ファイルサイズが5MB以上は処理をしない
        alert('画像のサイズが5MBを超過しています');
        $("input[type=submit]").attr("disabled", "disabled");
        return;
      }
      // ラベルのファイル名を更新
      $(".custom-file-label")[0].innerHTML = file.name;
      $("input[type=submit]").removeAttr("disabled");

      // 画像の読み込み
      reader.readAsDataURL(file);
      // サムネイル領域を追加
      reader.onload = function (e) {
        img_area.append("<img></img>");
        img_area.children("img").attr({
          src: e.target.result,
          class: "img-thumbnail img-fluid",
          alt: "画像を表示できません"
        });
      }
    });
  });
</script>