<div class="row comment-row">
  <div class="col-md-1 icon-col">
    <%= gravatar_for(comment.user, size: 30) %>
  </div>
  <div class="col-md-10">
    <div class="context">
      <%= link_to user_path(comment.user), target: "_blank", rel: "noopener", class: "context" do %>
        <span><%= "#{comment.user.full_name}@#{comment.user.user_name}" %></span>
      <% end %>
      <span style="padding-left:.5rem;"><%= comment.created_at_jp_format %></span>
    </div>
    <%= comment.context %>
  </div>
   <% if current_user?(comment.user) %>
    <div class="col-md-1 delete-col">
      <%= link_to '削除', comment_path(comment), method: :delete, class: "context" %>
    </div>
  <% end %>
</div>