<%= form_with url: search_items_path, id: 'search-form', local: true do |f|%>
  <%= f.text_field :keyword, class: "form-control form-control-sm", id: 'search-text',
                   placeholder: 'コメント検索...'%>
  <%= f.button type: 'submit', id: 'search-submit-button' do %>
    <span><i class="fas fa-search"></i></span>
  <% end %>
<% end %>