<% provide(:title, '検索結果') %>
<%= render 'shared/header' %>
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-center micropost-show-page-row search-row">
      <%= render @results %>
    </div>
    <%= render 'shared/will_pagination', objects: @results %>
  </div>
</div>
<!--script-->
<%= render 'search_items/script/search_items_show_script' %>