<% if current_user.new_notifications? %>
  <% cls = 'new-notification-exist' %>
<% else %>
  <% cls = nil %>
<% end %>
<div class="inline-block">
  <%= link_to notifications_path, class: 'nav-link' do%>
    <span class="align-top">新着</span>
    <span class="text-center align-top new-notification-counter <%= cls %>">
      <%= notification_count_limit(current_user.new_notifications_count) %>
    </span>
  <% end %>
</div>
