<% cls = notification.confirmed? ? nil : 'new-notification' %>
<div class="card card-body <%= cls %>">
  <div class="inline-block">
    <%= gravatar_for(notification.sender, size: 30) %>
    <%= link_to user_path(notification.sender), class: 'context' do %>
    <%= "#{notification.sender.full_name}@#{notification.sender.user_name}" %>
    <% end %>
    <span>が</span>
  </div>
  <span><%= get_notification_message(notification) %></span>
  <% unless notification.m_name == 'Relationship' %>
    <%= link_to '確認する', micropost_path(notification.get_micropost), class: 'context' %>
  <% end %>
</div>