<% provide(:title, '通知一覧') %>
<%= render 'shared/header' %>
<div class="container-fluid">
  <div class="row justify-content-center notification-index-row">
      <div class="col-md-7">
        <%= render @notifications %>
        <%= render 'shared/will_pagination', objects: @notifications %>
      </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    // bootstrap-will_paginateがBootstrap4.0以降に未対応のため、
    // 対応するクラスを追加
    $(".pagination li").addClass("page-item");
    $(".pagination a").addClass("page-link");
  });
</script>