<% if current_user %>
  <div id="likes-form-<%= micropost.id %>" style="display: inline;">
  <% if current_user.already_likes?(micropost) %>
    <%= render 'likes/unlike', micropost: micropost %>
  <% else %>
    <%= render 'likes/like', micropost: micropost %>
  <% end %>
  </div>
<% end %>