<%= form_with(scope: :like, url: likes_path, id: "form-like-#{micropost.id}") do |f| %>
  <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
  <%= f.button type: 'submit', id: "like-icon-#{micropost.id}", class: "context like-icon" do %>
    <span><i class="far fa-heart"></i></span>
  <% end %>
<% end %>
