<div>
  <% if @user.introduction.present? %>
    <p class="context" style="white-space: pre-wrap;"><%= @user.introduction %></p>
  <% end %>
  <% if @user.website.present? %>
    <%= link_to @user.website, @user.website, class: 'context' %>
  <% end %>
</div>