<div id="show-content">
  <div class="row justify-content-center show-page-row">
    <% if objects.any? %>
      <%= render objects %>
    <% else %>
      <p>投稿はありません</p>
    <% end %>
  </div>
  <%= render 'shared/will_pagination', objects: objects %>
</div>