<div class="row justify-content-center show-page-user-info-row border-bottom">
  <div class="col-md-2 col-md-offset-3">
    <div class="text-center">
      <%= gravatar_for(@user, size: 110) %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <div class="show-page-user-name">
      <span>
        <%= @user.full_name %>@<%= @user.user_name %>
      </span>
      <%= render 'users/intoroduction' %>
    </div>
    <div style="padding-top: .5rem;">
      <% if current_user?(@user) %>
        <%# ログイン中ユーザのページの場合 %>
        <%= link_to 'プロフィールを編集する', edit_user_path(@user), 
            class: "btn btn-outline-secondary rounded-pill",
            style: "font-size: .7rem;" %>
      <% elsif login? %>
        <%# ログイン中ユーザのページでないが、ログインしている場合 %>
        <%= render 'users/follow/follow_form' %>
      <% else %>
        <%# ログインしていない場合 %>
        <div></div>
      <% end %>
    </div>
    <div class="row show-page-stat-row">
      <%= render 'shared/stat' %>
    </div>
  </div>
</div>