<%= link_to user_path(user), class: "user-info-link" do %>
  <div class="user-info-area context">
    <div>
      <%= gravatar_for(user, size: 45) %>
      <span class="align-middle user-info-name">
          <%= user.full_name %>@<%= user.user_name %>
      </span>
    </div>
    <div>
      <span class="user-info-introduction">
        <%= user.introduction %>
      </span>
    </div>
  </div>
<% end %>