<% provide(:title, 'パスワード変更') %>
<% content_for(:card_body) do %>
  <%= form_with model: @user, url: edit_password_path(@user), local: true do |f| %>
    <%= render 'shared/error_messages', object: @user%>
    <div class="form-group">
      <%= f.label :old_password, '現在のパスワード', class: "context" %>
      <%= f.password_field :old_password, class: "form-control" %>
    </div>
    <%= render 'shared/form_parts/password',              object: [f, '新しいパスワード']%>
    <%= render 'shared/form_parts/password_confirmation', object: [f, '新しいパスワード確認']%>
    <%= render 'shared/form_parts/subtmit_button',        object: [f, 'パスワード変更'] %>
  <% end %>
<% end %>
<%= render 'users/edit/edit_wrap' %>