<% provide(:title, 'プロフィール編集') %>
<% content_for(:card_body) do %>
  <div class="icon-edit">
    <div class="edit-icon align-top">
      <%= gravatar_for @user, size: 60 %>
    </div>
    <div class="edit-icon-context context">
      <p>アイコンを変更するには</p>
      <ol>
        <li><%= link_to 'Gravatar', "http://gravatar.com/emails", target: "_blank" %>に登録する</li>
        <li>1で登録したメールアドレスをこのウェブサイトに登録する</li>
      </ol>
    </div>
  </div>
  <div class="profile-edit card card-body">
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', object: @user%>
      <%= render 'shared/form_parts/full_name', object: f %>
      <%= render 'shared/form_parts/user_name', object: f  %>
      <%= link_to 'パスワードを変更する', edit_password_path(@user), 
        class: "btn btn-outline-secondary rounded-pill", 
        style: "margin-bottom: .5rem;" %>
      <div class="form-group">
        <%= f.label :website, "ウェブサイト", class: "context" %>
        <%= f.text_field :website, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, "自己紹介", class: "context" %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <p class="context private">非公開情報</p>
      <%= render '/shared/form_parts/email', object: f %>
      <div class="form-group">
        <%= f.label :tel, "電話番号", class: "context" %>
        <%= f.text_field :tel, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :gender, "性別", class: "context" %>
        <%= f.select :gender, [['男', 0],['女', 1],['答えたくない', 9]], prompt: '選択する', class: "form-control" %>
      </div>
      <%= render 'shared/form_parts/subtmit_button', object: [f, '編集']%>
    <% end %>
  </div>
  <div class="account-destroy">
    <%= link_to 'アカウント削除', @user, 
      class: "btn btn-outline-secondary rounded-pill float-right", 
      method: :delete, data: { confirm: "本当にアカウントを削除しますか？" } %>
  </div>
<% end %>
<%= render 'users/edit/edit_wrap' %>