<% provide(:title, @title) %>

<div class="page-wrapper">
  <%= render 'shared/header' %>
  <h4 class="text-center context" style="padding-top: 5rem;">
    <%= @disp_name %>がフォロー中
  </h4>
  <%= render 'users/follow/show_follow' %>
</div>