<% provide(:title, 'ユーザ一覧') %>

<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-center edit-page-row">
      <div class="col-md-10">
        <div class="card card-body">
          <%= render @users %>
          <%= render 'shared/will_pagination', objects: @users %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--script-->
<%= render 'users/script/users_index_script' %>
