<% provide(:title, 'サインアップ') %>
<% content_for(:card_body) do %>
  <%= form_with model: @user, url: signup_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: @user %>
    <%= render 'shared/form_parts/full_name', object: f %>
    <%= render 'shared/form_parts/user_name', object: f %>
    <%= render 'shared/form_parts/password',  object: [f, 'パスワード'] %>
    <%= render 'shared/form_parts/password_confirmation',  object: [f, 'パスワード確認'] %>
    <div class="tos-form form-group">
      <%= link_to '利用規約', tos_path, target: "_blank", rel: "noopener" %>
      <%= f.label :tos do %>
        <%= f.check_box :tos %>
        <span class="context">利用規約に同意する</span>
      <% end %>
    </div>
    <%= render 'shared/form_parts/subtmit_button', object: [f, 'サインアップ'] %>
  <% end %>
<% end %>
<%= render 'shared/wrap/top_login_singup_wrap' %>