<% provide(:title, @user.user_name) %>

<div class="page-wrapper">
  <div class="container-fulid">
    <%# ヘッダー %>
    <%= render 'shared/header' %>
    <%# ユーザ情報表示領域 %>
    <%= render 'users/users_info' %>
    <%# 投稿、フォロー、フォロワー表示領域 %>
    <%= render 'users/show_content', objects: @microposts %>
    <%# フッター %>
    <%= render 'shared/footer' %>
  </div>
</div>
<%#  スクリプト %>
<%= render 'users/script/users_show_script' %>