<% if object.errors.any? %>
  <div class="alert alert-danger">
    <p>入力内容に誤りがあります</p>
    <ol>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
  </div>
<% end %>