<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> flash-message" id="flash">
      <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
        <span style="background-color: transparent;" aria-hidden="true">&times;</span>
      </button>
      <%= msg %>
    </div>
  <% end %>
<% end %>