<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", alt: "logo", class: "header-logo") %>
    <% end %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" 
            data-target="#header" aria-controls="navbarNav"
            aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="header">
      <ul class="navbar-nav ml-auto">
        <% if login? %>
        <%# ログイン時に表示するメニュー %>
        <li class="nav-item">
          <%= render 'notifications/header_menu_norification' %>
        </li>
        <li class="nav-item nav-link">
          <%= render 'search_items/search_form' %>
        </li>
        <li class="nav-item">
          <%= link_to @disp_name, user_path(current_user), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
        </li>
        <% else %>
         <%# 非ログイン時に表示するメニュー %>
         <li class="nav-item">
           <%= link_to 'サインアップ', signup_path, class: 'nav-link' %>
         </li>
         <li class="nav-item">
           <%= link_to 'ログイン', login_path, class: 'nav-link' %>
         </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>