<div class="col-md-3">
  <%= link_to user_path(@user) do %>
    <span class="context">投稿 <%= @user.microposts.count %>件
  <% end %>
</div>
<div class="col-md-4">
  <%= link_to followers_user_path(@user), remote: true do %>
    <span id="followers" class="context">フォロワ <%= @user.followers.count %>人</span>
  <% end %>
</div>
<div class="col-md-5">
  <%= link_to following_user_path(@user), remote: true do %>
    <span id="following" class="context">フォロー <%= @user.following.count %>人</span>
  <% end %>
</div>