<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-center top-page-row">
      <div class="col-md-12">
        <div class="heading">
          <%= image_tag("logo.png", alt: "logo", class: "img-fluid") %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center top-page-row">
      <div class="col-md-5">
        <div class="card card-body">
          <%= yield(:card_body) %>
        </div>
      </div>
    </div>
  </div>
</div>