<%# =================================
  #  写真を表示するためのモーダル
  # ================================= %>
<% if micropost.picture? %>
  <div id="picture-modal-<%= micropost.id %>" class="modal">
    <div id="image-area" class="text-center">
      <%= image_tag micropost.picture.url, class: 'img-thumbnail img-fluid' %>
    </div>
    <div class="overflow-auto">
      <p class="micropost-content-area"><%= micropost.content %></p>
    </div>
  </div>
<% end %>
<%# =================================
  #  コメントを記入するためのモーダル
  # ================================= %>
<% if login? %>
  <div id="create-comment-modal-<%= micropost.id %>" class="modal">
    <%= form_with model: current_user.comments.build, url: comments_path do |f| %>
      <div><%= f.hidden_field :micropost_id, :value => micropost.id %></div>
      <div class="form-group">
        <div class="form-group">
          <%= f.label :context, "コメント", class: "context" %>
          <%= f.text_area :context, class: "form-control", rows: '7' %>
        </div>
        <%= render 'shared/form_parts/subtmit_button', object: [f, '投稿']%>
      </div>
    <% end %>
  </div>
<% end %>
