<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'users/follow/unfollow' %>
  <% else %>
    <%= render 'users/follow/follow' %>
  <% end %>
  </div>
<% end %>