<%= form_with model: current_user.active_relationships.build do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "フォローする", class: "btn btn-outline-primary rounded-pill", 
                             style: "font-size: .7rem;" %>
<% end %>