<div class="container-fluid">
  <div class="row justify-content-center show-page-row">
    <div class="col-md-10">
      <% if @users.count > 0 %>
        <div class="card card-body">
          <%= render @users %>
          <%= render 'shared/will_pagination', objects: @users %>
        </div>
      <% else %>
        <p class="context text-center"><%= @context %></p>
      <% end %>
    </div>
  </div>
</div>
<!--script-->
<%= render 'users/script/show_follow_script' %>