<%= form_with model: current_user.active_relationships.find_by(followed_id: @user.id),
              html: { method: :delete } do |f| %>
    <%= f.submit "フォロー中", class: "btn btn-primary rounded-pill", 
                             style: "font-size: .7rem;" %>
<% end %>