<div class="col-md-4">
  <div class="card card-body micropost-card">
    <% if micropost && micropost.picture? %>
      <%= link_to "#picture-modal-#{micropost.id}", rel: 'modal:open' do  %>
        <div id="image-area" class="text-center">
          <%= image_tag micropost.picture.url, class: 'img-thumbnail img-fluid' %>
        </div>
      <% end %>
    <% end %>
    <p class="micropost-content-area">
      <%= micropost.content %>
    </p>
    <div class="border-top micropost-info">
      <%= link_to user_path(micropost.user), class: "context" do %>
        <span><%= "#{micropost.user.full_name}@#{micropost.user.user_name}" %></span>
      <% end %>
      <span>
        <%= time_ago_in_words(micropost.created_at) %>前に投稿
      </span>
      <div class="border-top align-text-bottom inline-block text-right" style="padding-top: .5rem;">
        <% if login? %>
          <%= render 'likes/likes_form', micropost: micropost %>
          <%= link_to "#create-comment-modal-#{micropost.id}", class: 'text-right context', rel: 'modal:open' do %>
            <span><i class="fas fa-pen"></i></span>
          <% end %>
          <% if current_user?(micropost.user) %>
            <%= link_to micropost, method: :delete, 
              data: { confirm: '投稿を削除しますか？' }, class: 'micropost-delete-link' do %>
             <span><i class="fas fa-trash-alt"></i></span>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to '写真個別ページ', micropost_path(micropost), class: 'micropost-show-link' %>
      </div>
    </div>
  </div>
</div>
<%# モーダル %>
<%= render 'shared/modal/micropost_modal', micropost: micropost %>