<% provide(:title, '写真投稿') %>
<%= render 'shared/header' %>
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-center micropost-new-page-row">
      <div class="col-md-5">
        <div class="card card-body">
          <%= form_with model: @micropost, local: true do |f| %>
            <%= render 'shared/error_messages', object: @micropost %>
            <div id="image-area" class="text-center border" style="background-color: #cccccc;">
            </div>
            <%= f.label "画像選択", class: "context" %>
            <div class="custom-file">
              <%= f.file_field :picture, class: 'custom-file-input', id: 'micropost_picture', accept: 'image/jpeg, image/png' %>
              <%= f.label :picture, 'ファイルの選択', class: 'custom-file-label', id: 'micropost_picture_name' %>
            </div>
            <div class="form-group">
              <%= f.label :content, "投稿者コメント", class: "context" %>
              <%= f.text_area :content, class: "form-control", placeholder: "楽しかったあの頃..." %>
            </div>
            <%= render 'shared/form_parts/subtmit_button', object: [f, '投稿'] %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--script-->
<%= render 'microposts/script/micropost_new_script'%>