<% provide(:title, '写真個別ページ') %>
<%= render 'shared/header' %>
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-center micropost-show-page-row">
      <div class="col-md-6">
        <div class="card card-body micropost-card">
          <% if @micropost && @micropost.picture? %>
            <div id="image-area" class="text-center border" style="background-color: #cccccc;">
              <%= image_tag @micropost.picture.url, class: 'img-thumbnail img-fluid' %>
            </div>
            <p class="micropost-content-area"><%= @micropost.content %></p>
            <div class="inline-block text-right">
              <%= link_to user_path(@micropost.user), class: "context" do %>
                <span><%= "#{@micropost.user.full_name}@#{@micropost.user.user_name}" %></span>
              <% end %>
              <span class="context">
                <%= time_ago_in_words(@micropost.created_at) %>前に投稿
              </span>
            </div>
            <div class="inline-block text-right">
              <% if login? %>
                <%= render 'likes/likes_form', micropost: @micropost %>
                <%= link_to "#create-comment-modal-#{@micropost.id}", class: 'text-right context', rel: 'modal:open' do %>
                  <span><i class="fas fa-pen"></i></span>
                <% end %>
                <% if current_user?(@micropost.user) %>
                  <%= link_to @micropost, method: :delete, 
                    data: { confirm: '投稿を削除しますか？' }, class: 'micropost-delete-link text-right' do %>
                    <span><i class="fas fa-trash-alt"></i></span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="card card-body comment-card" style="padding-top: .2rem;">
          <h6 class="context text-center border-bottom">コメント (<%= @micropost.comments.count %>)</h6>
          <div class="comment-body">
            <% if @comments %>
              <%= render @comments %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal-->
<%= render 'shared/modal/micropost_modal', micropost: @micropost %>
<!--script-->
<%= render 'microposts/script/micropost_show_script' %>