/* =======================
   import
========================== */
@import "bootstrap";

/* =======================
   variables
========================== */
/*-color-------------------*/
$silver-tree: #58be89;
$facebook: #3b5998;
$denim: #0e7ac4;
$regent-grey: #7c858e;
$border: rgba(0, 0, 0, 0.125);
$danger: #721c24;
$night-rider: #333333;
$azure: #f0ffff;
$hotpink: #ff69b4;
$gainsboro: #dcdcdc;
$amaranth: #eb2142;

/* =======================
   mixin
========================== */
@mixin user-btn($background-color) {
  background-color: $background-color;
  color: white;
  transition: all 0.5s;
  &:hover {
    border: 1px solid $background-color;
    background-color: white;
    color: $background-color;
  }
}

/* =======================
   Style
========================== */
/* 共通 */
p {
  padding: 0;
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

textarea {
  border-color: $border;
}

.flash-message {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1031;
}
/* ページ */

.page-wrapper {
  padding-bottom: 2rem;
}
.context {
  color: $regent-grey;
  margin-top: 3px;
  margin-bottom: 3px;
}
.signup {
  @include user-btn($silver-tree);
}

.facebook {
  display: inline;
  @include user-btn($facebook);
}

.login {
  @include user-btn($denim);
}

.top-page-row {
  padding-top: 3rem;
}

.heading {
  display: block;
  text-align: center;
}

#facebook-icon {
  margin-right: 4px;
}

.tos-form {
  border-bottom: 1px solid $border;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: $regent-grey;
  }
}

#user_tos {
  margin-left: 15px;
}

.field_with_errors {
  display: inline;
  label {
    color: $danger;
  }
  input {
    border-color: $danger;
  }
  textarea {
    border-color: $danger;
  }
}

.private {
  padding-top: 1rem;
  border-top: 1px solid $border;
}

.edit-icon-context,
.edit-icon {
  display: inline-block;
}

.edit-icon {
  padding-top: 0.5rem;
  margin-right: 0.6rem;
}

.edit-page-row {
  padding-top: 2rem;
}

.account-destroy {
  padding-top: 1rem;
}

.password-reset-link {
  text-decoration: none;
  color: $regent-grey;
  z-index: 1000;
}

.user-info-link {
  border-bottom: 2px solid $border;
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $amaranth;
  }
}

.user-info-area {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.user-info-name {
  font-weight: bold;
  color: $night-rider;
}

.user-info-introduction {
  font-size: 0.9rem;
}

.pagination {
  margin-top: 0.3rem;
}

.header-logo {
  height: auto;
  width: 10rem;
}

.show-page-row {
  padding: 1rem 0.5rem;
  background-color: $gainsboro;
}

.search-row {
  background-color: $gainsboro;
}

.show-page-user-info-row,
.notification-index-row {
  padding-top: 4.5rem;
  padding-bottom: 1rem;
}

.show-page-user-name {
  span {
    font-size: 1.7rem;
    color: $night-rider;
  }
}

.show-page-stat-row {
  padding-top: 0.5rem;
  font-size: 1.1rem;
}

.micropost-card {
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 4px gray;
}
.micropost-info {
  color: $regent-grey;
  padding-top: 0.5rem;
  font-size: small;
  text-align: right;
}

.footer-row {
  padding: 1rem 0;
  margin-top: 0.5rem;
  a {
    color: $regent-grey;
    &:hover {
      text-decoration: none;
    }
  }
}

.micropost-delete-link,
.micropost-show-link {
  color: $regent-grey;
}

.micropost-new-page-row,
.micropost-show-page-row {
  padding-top: 4.5rem;
}

span[id^="like-icon"] {
  cursor: pointer;
}

form[id^="form-like"] {
  display: inline;
}

// modal
.modal {
  height: 70%;
  overflow: visible;
}

.icon-col,
.delete-col {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.comment-row {
  margin: 0.2rem 0;
  font-size: 14px;
}

.comment-body {
  max-height: 15rem;
  overflow: auto;
}

.comment-card {
  box-shadow: 2px 2px 4px gray;
}

#search-form {
  position: relative;
  width: 15rem;
  margin-top: -3px;
}

#search-text {
  background-color: transparent;
  border-radius: 50rem;
}

#search-submit-button {
  position: absolute;
  top: 0.1rem;
  right: 0;
  background-color: transparent;
  border: none;
  span {
    margin-right: 0.5rem;
  }
}

.micropost-content-area {
  height: 6rem;
  overflow: auto;
  white-space: pre-wrap;
}

.like-icon {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
}

.new-notification-counter {
  border: 1px solid $border;
  padding: 0.4rem 0.2rem;
  border-radius: 50%;
  font-size: small;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-top: -0.2rem;
}

.new-notification-exist {
  background-color: $amaranth;
  color: white;
}

.new-notification {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.2rem;
  font-weight: bold;
  border-bottom: 0.2rem solid $amaranth;
}
