<!DOCTYPE html>
<html lang="ja">

<head>
  <title><%= full_page_title(yield(:title)) %></title>
  <%= render 'layouts/common/head' %>
  <!--less than IE9-->
  <%= render 'layouts/common/shim' %>
</head>

<body>
  <%= render 'shared/flash' %>
  <%= yield %>
</body>

</html>